<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>新しいブログ</h1>

    <div class="post">
        <label for="title">タイトル</label><br>
        <input type="text" id="title" name="title" placeholder="ここにタイトルを記入"><br>
        <label for="title">本文</label><br>
        <input type="text" id="title" name="title" placeholder="本文を記入"><br>
        <button type="post">投稿</button>
    </div>


    <!-- <input type="text" name="blog"> -->
</body>

</html>